*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 85%;
    margin: 0 auto;
    font-style: Poppins;
    line-height: 1.7em;
}

header{
    padding: 50px 0;
}

footer{
    padding-top: 50px;
}

.header{
    margin-top: 30px;
    font-size: 1.3em;
}

h4{
    font-size: 1.3em;
}

p{
    width: 75%;
}

span{
    writing-mode: vertical-lr;
    padding-bottom: 60%;
    font-size: 1.2em;
}

img{
    width: 80%;
    height: auto;
    object-fit: cover;
}

main{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    column-gap: 30px;
}

.push-img{
    margin-top: 50px;
}

footer{
    text-align: center;
    color: #bbb;
    padding: 90px 0 15px;
}

@media (min-width: 720px)
{
    header{
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }
    main{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
    }
    .push-img{
        margin-top: 0px;
    }
    .push-img-big{
        margin-top: 70px;
    }
    span{
        writing-mode: vertical-lr;
        padding-bottom: 85%;
        font-size: 1.2em;
    }
    .header{
        margin: 0;
    }
}



